@import url('https://fonts.googleapis.com/css?family=Muli:500');

$theme-colors: ( "primary": #09814A, "danger": #F40000, "dark": #235789 );

$table-dark-bg: #235789;
$table-dark-accent-bg: #235789;
$font-family-sans-serif: 'Muli', sans-serif;

@import 'bootstrap/bootstrap.scss';